*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", serif;
    margin: 0 auto;
}

/* Main landing page welcome message */
#landing-page-h1{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem
}

/*Image on page one*/
img{
    max-width: 100%;
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/*Header on all pages*/
header{
    height: 6.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

/*H2 on all pages*/
h2{
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

/*Grid on Round One/Round Two Page*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 50%;
    height: 50vh;
    grid-gap: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1rem;
    } 

/*Grid on Round One/Round Two Page*/
.griditem{
    border: 3px solid #9509f3;
    min-width:60%;
    text-align: center;
} 

/*Grid Category Row on Round One/Round Two Page*/
#categoryGrid{
    background-color:#9509f3;
    color: white;
}

/*User Guess on Round One/Round Two Page*/
form{
    justify-content: center;
    align-items: center;
    margin-bottom: 2%; 
    align-items: center;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

#userGuess{
height: 4vh;
}

/*\Play Button on starting page*/
.play-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
/*Guess & Pass button on Round One/Round Two page*/
.button-flex{
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 3%;
margin-right: auto;
margin-left: auto;
width: 20vw;
}

.Flex{
    margin-top: 3%;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3%;
    
    
}

/*Buttons on all pages*/
button {
background-color: #9509f3;
color: white;
text-align: center;
text-decoration: none;
border: none;
padding: 15px 32px;
font-size: .8rem;
display:inline-block;
margin-left: auto;
margin-right: auto;
}

#guessRound1Btn{
    background-color: #9509f3;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 15px 32px;
    font-size: .8rem;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}

#passRound1Btn{
    background-color: #9509f3;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 15px 32px;
    font-size: .8rem;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;  
}

#guessRound2Btn{
    margin-top: 5vh;
    background-color: #9509f3;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 15px 32px;
    font-size: .8rem;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}

#passRound2Btn{
    margin-top: 5vh;
    background-color: #9509f3;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 15px 32px;
    font-size: .8rem;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}

/*Play Score on Round One/Round Two page*/
.playerScore{
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
margin-left: 40%;
margin-right: 40%;
}

/*Next Round button on Round Two page*/
.next-round-btn-1{
    display: flex;
    align-self: flex-end;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 1vh;
}

/*Next Round button on Round Two page*/
.next-round-btn-2{
    display: flex;
    align-self: flex-end;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 1vh;
    
}


/*anchor tag style on all buttons*/
a{
    text-decoration: none;
}

/*Hover state for Guess/Pass/Next Round buttons*/
button:hover{
    background-color: #590591; 
}


/*Final Page*/

/*Final Category*/
.finalCategory{
display: flex;
justify-content: center;
align-items: center;
margin: 1% auto;
text-align: center;
background-color: #9509f3;
max-width: 50%;
height:10vh;
color: white;
margin-bottom: 5vh;
}

/*Final Question*/
.final-question{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    text-align: center;
    background-color: #9509f3;
    max-width: 50%;
    height:40vh;
    color: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/*Bet Button on Final Round Page*/
.bet-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 5vh;
}

/*Fotter on all pages*/
footer{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 2.5rem;
    position: absolute;
    width: 100%;
    margin-top:5vh;
    background-color: #9509f3;
    color: white;
    display: flex;
    
}